html { 
    font-family: Helvetica; 
    display: inline-block; 
    margin: 0px auto; 
    text-align: center;
}

.button {
    border: none; 
    color: white; 
    padding: 16px 40px; 
    text-decoration: none;
    font-size: 30px; 
    margin: 2px; 
    cursor: pointer; 
    border-radius: 10px;
}

input {
    background-color: #f1f1f1;
    border: 2px solid #333;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    float:left;
}

.logo{
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

input:focus {
    background-color: #e0e0e0;
    border-color: #EE7501;
    outline: none;
}

.buttons{
    display: grid;
    float: left;
    width: 30%;
}

#pinStateImage{
    float:left;
    border-radius: 5px;
}

p{
    border-radius: 5px;
    font-size: 24px;
}

#results{
    float:right;
    width: 50%;
}
.closeButton{
    background-color: #686A6F;
    border: none; 
    color: white; 
    padding: 16px 40px; 
    text-decoration: none;
    font-size: 30px; 
    margin: 2px; 
    cursor: pointer; 
    border-radius: 10px;
}
.openButton{
    background-color: #EE7501;
    border: none; 
    color: white; 
    padding: 16px 40px; 
    text-decoration: none;
    font-size: 30px; 
    margin: 2px; 
    cursor: pointer; 
    border-radius: 10px;
}
